@import "../../../styles/variables.scss";

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
    color: $title-seg-color;
    margin-left: 10px;
    margin-right: 10px;
    
}