@import "../../../styles/variables.scss";


.task{
    background: $secondary-color;
    margin: 5px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}


.task.reminder{
    border-left: 7px solid green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}