<app-defaut-login-layout
title="Crie uma conta e comece hoje!"
primaryBtnText="Cadastre-se agora"
secondaryBtnText="Faça login agora"
(submit)="submit()"
(navigate)="navigate()"
[disablePrimaryBtn]="!signupForm.valid"
>
<form [formGroup]="signupForm">
    <app-primary-inputs
        formControlName="name"
        inputName="name"
        type="text"
        label="Seu nome"
        placeholder="pi braz"
        
    >
        <img src="/assets/svg/icon-user.svg"/>
    </app-primary-inputs>
    <app-primary-inputs
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="braz@gmail.com"
        
    
    >
        <img src="/assets/svg/email-icon.svg"/>
    </app-primary-inputs>
    <app-primary-inputs
        formControlName="password"
        inputName="password"
        type="password"
        label="Crie uma senha"
    >
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-inputs>
    <app-primary-inputs
        formControlName="passwordConfirm"
        inputName="passwordConfirm"
        type="password"
        label="Confirme sua senha"
>
    <img src="/assets/svg/password-icon.svg"/>
    </app-primary-inputs>
    
    </form>
</app-defaut-login-layout>
