<app-defaut-login-layout
title="Faça login na sua conta"
primaryBtnText="Faça login agora"
secondaryBtnText="Cadastre-se agora"
(submit)="submit()"
(navigate)="navigate()"
[disablePrimaryBtn]="!loginForm.valid"
>
<form [formGroup]="loginForm">
    <app-primary-inputs
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="braz@gmail.com"
        
    
    
    >
        <img src="/assets/svg/email-icon.svg"/>
    </app-primary-inputs>
    <app-primary-inputs
        formControlName="password"
        inputName="password"
        type="password"
        label="Sua senha"
    >
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-inputs>
       <span><button>Esqueceu a senha?</button></span> 

    </form>
</app-defaut-login-layout>
