<main>
    <section class="form-section">
        <h1>Alfa TASK</h1>
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button 
                class="btn-primary" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"

                >{{ primaryBtnText }}</button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
        <button class="btn-secondary"(click)="navigate()">{{ secondaryBtnText }}</button>


        </div>
        

    </section>
    <section class="main-section">
        <h1> Transforme ideias em ações!</h1>
        <img src="/assets/img/raposa-banner-layout.png" style="width: 600px; height: auto; display: block; margin: 0 auto;"/>
    </section>

</main>
